* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, 'Times New Roman', Times, serif;
    background-image: url(img/login\ novo.png);
    background-attachment: fixed;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

/* Estilo do container do formulário */
.container {
background-color: rgb(109, 21, 18); 
padding: 30px; /* Espaçamento interno */
border-radius: 50px; 
box-shadow: 0 2px 10px rgba(93, 255, 29, 0.1); /* Sombras para dar um efeito de elevação */
width: 100%; /* A largura do formulário será 100% do espaço disponível */
max-width: 500px; /* Limita a largura máxima do formulário para 400px */
}

/* Estilo do título*/
.logo{
text-align: left ; /* Centraliza o texto */
margin-bottom: 10px; /* Espaço abaixo do título */
color: rgb(231, 208, 102);
font-size: 30px;
display: flex;
gap: 10px;

}

/* Estilo dos grupos de input */
.input-group {
margin-bottom: 20px; /* Espaço entre cada grupo de input */
}

/* Estilo das labels dos campos */
.input-group label {
display: block; /* Faz com que o label ocupe uma linha inteira */
margin-bottom: 10px; /* Espaço abaixo do label */
color: rgba(255, 254, 254); 
}

/* Estilo dos campos de input e select */
.input-group input,
.input-group select {
width: 95%; 
padding: 8px; /* Espaçamento interno para o campo */
font-size: 12px; 
border: 1px solid #fcfcfc; 
border-radius: 4px; 
}

/* Estilo do botão de submit */
.submit-btn {
width: 95%; /* O botão ocupa toda a largura do container */
padding: 12px; /* Espaçamento interno do botão */
background-color:rgb(231, 208, 102);
color: #000000; 
border: none; 
border-radius: 4px; 
font-size: 16px;
cursor: pointer; /* Cursor de mão para indicar que é clicável */
}

/* Estilo do botão quando o mouse passa sobre ele */
.submit-btn:hover {
background-color: #bb5f5f;
}

/* Estilo para o campo de checkbox */
.input-group input[type="checkbox"]{
width: auto; /* Deixa o tamanho do checkbox automático (não ocupa toda a largura) */
margin-right: 10px; /* Espaço à direita do checkbox */
}

p.pagina{
margin-top: 10px ;
color: rgba(255, 254, 254);
text-align: center;
}
/* Estilo para os links */
a {
color: #89aeff; /* Cor do link em azul */
text-decoration: none; /* Remove o sublinhado do link */
}

/* Estilo para os links quando o mouse passa sobre eles */
a:hover {
text-decoration: underline; /* Adiciona o sublinhado quando o usuário passa o mouse */
}


